body{
    /*Gradient pārēju ģenerātors: https://cssgradient.io/*/
    background: rgb(5, 112, 77);
    background: linear-gradient(90deg, rgb(19, 110, 60) 0%, rgb(14, 114, 64) 35%, rgba(0,212,255,1) 100%);
}
.wrapper{
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    border: 2px solid rgb(70, 46, 179);
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.chataZinas{
    background-color: rgb(250, 250, 250);
    height: 300px;
    margin: 5px;
    border: 1px solid rgb(40, 40, 73);
    border-radius: 5px;
    color:rgb(76, 5, 5);
    padding: 5px;
    /*parāda ritjoslu, kad čata ziņas pārsniedz bloka izmēru*/
    overflow-y: scroll;
}